<div ng-repeat='entry in contents.entries'>
	<span ng-bind='entry.amount | currency : CurrencyService.getCurrencySymbol(contents.currency) : 2'></span> | <span ng-bind='entry.date | date : "yyyy-MM-dd HH:mm:ss"'></span>
</div>
<b>Total: <i class="fa fa-{{contents.currency | lowercase}}"></i><span ng-bind="totalAmount | currency : '' : 2"></span></b>
<hr/>
Enter quantity: <input type='text' title='Enter Quantity' ng-model='newAmount'/>
<button type='button' ng-click='modifyAmount(false)'>Add</button> <button type='button' ng-click='modifyAmount(true)'>Remove</button><br/>
Select currency: <currency-dropdown current-currency='{{contents.currency}}' on-change='changeCurrency(currency)'></currency-dropdown>